@-webkit-keyframes slideshow {
    
    25% {
       transform: translateX(0px)
    }
    
    50% {
        transform:translateX(-480px);
    }
    
    75% {
        transform:translateX(-960px);
    }
    
    100% {
        transform:translateX(-1440px);
    }
    
}

@keyframes slideshow {
    
    25% {
       transform: translateX(0px)
    }
    
    50% {
        transform:translateX(-480px);
    }
    
    75% {
        transform:translateX(-960px);
    }
    
    100% {
        transform:translateX(-1440px);
    }
    
}


body {
    background: #444;
}

h1 {
    text-align: center;
    color: aliceblue;
    margin-top: 50px;
    margin-bottom: 90px;
}

p {
    text-align: center;
    color: #fff;
}

a {
    text-decoration: none;
    color: hotpink;
}

a:hover {
    text-decoration: underline;
}

.container {
    width:480px;
    height:300px;
    border:5px solid hotPink;
    overflow:hidden;
    margin: 20px auto;
}

.slideshow {
    width:2000px;
    height:300px;
    
}

img {
    float:left;
}

img.img1 {
    -webkit-animation: slideshow 10s 1s infinite;
            animation: slideshow 10s 1s infinite;
    -webkit-filter: grayscale();
    -moz-filter:grayscale();
         filter: grayscale();
     
}

img.img2 {
    -webkit-animation: slideshow 10s 1s infinite;
            animation: slideshow 10s 1s infinite;
}

img.img3 {
    -webkit-animation: slideshow 10s 1s infinite;
            animation: slideshow 10s 1s infinite;
}

img.img4 {
    -webkit-animation: slideshow 10s 1s infinite;
            animation: slideshow 10s 1s infinite;
}
