@-webkit-keyframes slideshow {
    
    25% {
       transform: translateX(0px)
    }
    
    50% {
        transform:translateX(-480px);
    }
    
    75% {
        transform:translateX(-960px);
    }
    
    100% {
        transform:translateX(-1440px);
    }
    
}

@-moz-keyframes slideshow {
    
    25% {
       transform: translateX(0px)
    }
    
    50% {
        transform:translateX(-480px);
    }
    
    75% {
        transform:translateX(-960px);
    }
    
    100% {
        transform:translateX(-1440px);
    }
    
}

@keyframes slideshow {
    
    25% {
       transform: translateX(0px)
    }
    
    50% {
        transform:translateX(-480px);
    }
    
    75% {
        transform:translateX(-960px);
    }
    
    100% {
        transform:translateX(-1440px);
    }
    
}

@-webkit-keyframes fade {
    
    50% {
        background-image: url(../img/img11.jpg);
        background-repeat: no-repeat;
    }
    
    75% {
        background-image: url(../img/img18.jpg);
        background-repeat: no-repeat;
    }
    
    100% {
        background-image: url(../img/img9.jpg);
        background-repeat: no-repeat;
    }
    
}

@-moz-keyframes fade {
    
    50% {
        background-image: url(../img/img11.jpg);
        background-repeat: no-repeat;
    }
    
    75% {
        background-image: url(../img/img18.jpg);
        background-repeat: no-repeat;
    }
    
    100% {
        background-image: url(../img/img9.jpg);
        background-repeat: no-repeat;
    }
    
}

@keyframes fade {
    
    50% {
        background-image: url(../img/img11.jpg);
        background-repeat: no-repeat;
    }
    
    75% {
        background-image: url(../img/img18.jpg);
        background-repeat: no-repeat;
    }
    
    100% {
        background-image: url(../img/img9.jpg);
        background-repeat: no-repeat;
    }
    
}



body {
    background: url(../img/pattern.png);
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: aliceblue;
    margin-top: 50px;
    margin-bottom: 90px;
}

p {
    text-align: center;
    color: #fff;
}

a {
    text-decoration: none;
    color: hotpink;
}

a:hover {
    text-decoration: underline;
}

.container {
    width:480px;
    height:300px;
    border:5px solid hotPink;
    overflow:hidden;
    margin: 20px auto;
    margin-top: -20px;
}

.slideshow {
    width:2000px;
    height:300px;
    position:relative;
}

img:hover{
    animation-play-state: paused;
}

img {
    float:left;
}

img.img1 {
    -webkit-animation: slideshow 7s 1s infinite;
    -moz-animation: slideshow 7s 1s infinite;
            animation: slideshow 7s 1s infinite;
    -webkit-filter: grayscale();
    -moz-filter:grayscale();
         filter: grayscale();
     
}

img.img2 {
    -webkit-animation: slideshow 7s 1s infinite;
    -moz-animation: slideshow 7s 1s infinite;
            animation: slideshow 7s 1s infinite;
}

img.img3 {
    -webkit-animation: slideshow 7s 1s infinite;
    -moz-animation: slideshow 7s 1s infinite;
            animation: slideshow 7s 1s infinite;
}

img.img4 {
    -webkit-animation: slideshow 7s 1s infinite;
    -moz-animation: slideshow 7s 1s infinite;
            animation: slideshow 7s 1s infinite;
}


nav {
    width: 490px; 
    margin: 0 auto;
    display: block;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 10px;
    padding-bottom: 20px;
}

nav ul li:first-child {
    margin-left: -40px;
}

#slide {
    background: hotPink;
}

#cross {
    background: hotPink;
}


nav ul li a {
    display: block;
    text-decoration:none;
    color: #fff;
}

nav ul li a:hover {
    text-decoration: none;
}

.cross-fade {
    width: inherit;
    height: inherit;
    background-image: url(../img/img10.jpg);
    -webkit-animation: fade 5s 2s infinite;
    -moz-animation: fade 5s 2s infinite;
         animation: fade 5s 2s infinite;
    position: relative;
}

#overlay {
    width: inherit;
    height: inherit;
    background: #000;
    opacity: 0.5;
    position: relative;
    color: #fff;
    display: none;
}

.cross-fade:hover > #overlay {
    display: block;
}

#overlay span {
    display: block;
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: 30px;
    font-weight: bolder;
}

.cross-fade:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
         animation-play-state: paused;
}